body {
    margin: 0;
}

.fab {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
}

nav ul li {
    flex-grow: 1;
}

nav ul li:nth-child(3) {
    flex-grow: 8;
}


nav h1 {
    display: inline-block;
}

header, header a {
    background-color: black;
    color: white;
    text-decoration: none;
}

main {
    margin: 1rem;
}

main h2 {
    column-span: all;
    background-color: grey;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

main img {
    max-width: 100%;
}

/* Ensures multicol avoids column-breaking within figures */
main figure {
    break-inside: avoid;
}