body {
    margin: 0;
}

.fab {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    flex-grow: 1;
    margin: 0.25rem 0;
}

nav ul li:nth-child(4) {
    flex-grow: 5;
}

nav h1 {
    display: inline-block;
}

header {
    background-color: #804020;
    color: white;
}

.current-page {
    background-color: white;
    color: #804020;
    padding: 0.375rem;
    border-radius: 0.825rem;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    margin: 1rem;
}

h2 {
    column-span: all;
    background-color: #cc6633;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

main img {
    max-width: 100%;
}

/* Ensures multicol avoids column-breaking within figures */
main figure {
    break-inside: avoid;
}

/* grid layout for forms */
form {
    column-count: 1;
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
}

form label {
    text-align: right;
    padding: 1rem;
}

form button {
    grid-column: auto / span 2;
}

section {
    margin: 1rem;
}

section ul {
    list-style: none;
}

section ul li i {
    padding: 0.5rem;
}

/* Home screen splash component */
.splash {
    background-image: url("irvan-smith-5eBW5GomfhY-unsplash.jpg"); /* Photo by Irvan Smith on Unsplash */
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Glowing name home screen component */
.splash > p {
    display: flex;
    color: white;
    text-shadow: 0px 0px 1rem #ff8040;
    justify-content: center;
    font-size: 2.5rem;
}