nav ul {
    align-items: baseline;
    flex-direction: row;
}

main {
    column-count: 2;
    column-gap: 1rem;
    margin: 2rem;
}

main h2 {
    border-radius: 0.5rem;
}

/* Glowing name home screen component */
.splash > p {
    font-size: 4rem;
}